.flash {
    animation: flash-animation 3.5s;
    position: fixed;
    top: -200px;
    right: 0;
    z-index: 1000;
    width: auto;
}

@keyframes flash-animation {
    20% {
        top: 0;
    }
    85% {
        top: 0;
    }
    92% {
        top: 10;
    }
    95% {
        top: 25;
    }
    100% {
        top: -200;
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .flash {
      width: 100%;
    }

    @keyframes flash-animation
    {
        20% {
            top: 50;
        }
        85% {
            top: 50;
        }
        92% {
            top: 60;
        }
        95% {
            top: 85;
        }
        100% {
            top: -200;
            display: none;
        }
    }
  }
