.flash {
    animation: flash-animation 3.5s;
    position: fixed;
    top: -200px;
    right: 0;
    z-index: 1000;
}

@keyframes flash-animation {
    30% {
        top: 50px;
    }

    85% {
        top: 50px;
    }
    90% {
        top: 60px;
    }
    95% {
        top: 65px;
    }

    100% {
        top: -200px;
        display: none;
    }
}